<section class="alt-section section-work">
  <h3 id="work">Works</h3>
    <!-- Hackey Html javascript disabled hacks -->
            {% for project in site.data.portfolio.projects %}
              <input type="radio" name="trigger" class="trigger" id="{{ project.folder }}" />
            {% endfor %}
            <input type="radio" name="trigger" id="return" class="return" />
    <!-- End of Hacks -->
<div class="work-belt">
    <div class="thumb-wrap">
        <div class="thumb-container">
          <!-- The Labels here check the radio buttons up there for use in cas
        javascript is disabled-->
      {% for project in site.data.portfolio.projects %}
      <label for="{{ project.folder }}">
          <div class="thumb-unit" data-folder="{{project.folder}}" style="background-image: url(/assets/img/work/{{project.folder}}/thumb.jpg);">
            <div class="thumb-overlay">
              <strong>{{project.name}}</strong>
            </div>
          </div>
        </label>
      {% endfor %}
<!-- End of Hacks -->
        </div>
    </div>

    <div class="work-wrap">
      <div class="work-container">
        <label for="return">
          <div class="work-return">
            {% include icons/icon-back.html %}
          </div>
        </label>
      <h4 class="project-title"></h4>
        <div class="project-load"></div>

    <!-- Javascript disabled Hacks-->
    <noscript>
      {% for project in site.data.portfolio.projects %}
        <div class="noscript" id="content-{{ project.folder }}">
          <h4 class="project-title">{{ project.name }}</h4>
          <div class="noscript-load">
            {% include {{project.file}} %}
          </div>
        </div>
      {% endfor %}
    </noscript>
            <!-- End of Hacks-->
      </div>
    </div>
  </div>
</section>
